/*****************************************************************************
 * Mystic Dev Website (mystic-dev.eu.org & mystic-devloper.github.io)        *
 *                                                                           *
 * A Personal Website made by Mystic Devloper (Surya).                       *
 *                                                                           *	
 * File: _maxwidth.scss                                                      *
 * Info: SCSS File for Maxwidth Mixin.                                       *
 *****************************************************************************/

@use '../variables/variables' as *;
@use 'mixin-variables' as *;

/****************************
 * Maxwidth Mixin.          *
 ****************************/
// Max-widths for typeset containers, outputted
// in correct breakpoints.
@mixin maxwidth($breakpoint: 0) {
    // Type of chosen variables.
    $break-value: type-of($breakpoint);

    // If specifying a breakpoint to use (and breakpoint exists).
    @if $break-value == number and $breakpoint <= ($breakpoints-limit - 1) and $breakpoint >= 0 {

        max-width: #{nth($max-widths, ($breakpoint + 1)) / nth($sizes, ($breakpoint + 1))}rem;

    } @else if $breakpoint == all {

        max-width: #{nth($max-widths, 1) / nth($sizes, 1)}rem;

        // Loop through breakpoints.
        @for $i from 2 through $breakpoints-limit {
            @media screen and (min-width: nth($points, $i) / 16 * 1em ) {
                max-width: #{nth($max-widths, $i) / nth($sizes, $i)}rem;
            }
        }
    }
}
