/*****************************************************************************
 * Mystic Dev Website (mystic-dev.eu.org & mystic-devloper.github.io)        *
 *                                                                           *
 * A Personal Website made by Mystic Devloper (Surya).                       *
 *                                                                           *	
 * File: _measure.scss                                                       *
 * Info: SCSS File for Measure Mixin.                                        *
 *****************************************************************************/

@use '../variables/variables'
@use 'mixin-variables'

/****************************
 * Measure Mixin.           *
 ****************************/
// Set the measure for single columns, outputted 
// in correct breakpoints.
@mixin measure($breakpoint: 0) {
    // Type of chosen variables.
    $break-value: type-of($breakpoint);

    // If specifying a breakpoint to use (and breakpoint exists).
    @if $break-value == number and $breakpoint <= ($breakpoints-limit - 1) and $breakpoint >= 0 {

      max-width: #{nth($line-widths, ($breakpoint + 1)) / nth($sizes, ($breakpoint + 1))}rem;

    } @else if $breakpoint == all {
    
        max-width: #{nth($line-widths, 1) / nth($sizes, 1)}rem;

        // Loop through breakpoints.
        @for $i from 2 through $breakpoints-limit {
            @media screen and (min-width: nth($points, $i) / 16 * 1em ) {
                max-width: #{nth($line-widths, $i) / nth($sizes, $i)}rem;
            }
        }
    }
}
