/*****************************************************************************
 * Mystic Dev Website (mystic-dev.eu.org & mystic-devloper.github.io)        *
 *                                                                           *
 * A Personal Website made by Mystic Devloper (Surya).                       *
 *                                                                           *
 * File: _jetbrains-mono-regular.scss                                        *
 * Info: SCSS File for Regular JetBrains Mono Font Face.                     *
 *****************************************************************************/

/***********************************
 * JetBrains Mono Regular (400).   *
 ***********************************/
@font-face {
    font-family: "JetBrains Mono";
    font-weight: 400;
    font-style: normal;
    font-display: swap;

    src: url("../../../assets/fonts/jetbrains-mono/jetbrains-mono-v2-latin-400.woff2") format("woff2");
}

