/*****************************************************************************
 * Mystic Dev Website (mystic-dev.eu.org & mystic-devloper.github.io)        *
 *                                                                           *
 * A Personal Website made by Mystic Devloper (Surya).                       *
 *                                                                           *	
 * File: _monospace-typeface.scss                                            *
 * Info: SCSS File for Monospace Typeface.                                   *
 *****************************************************************************/

@use '../../fonts/fonts' as *;

/****************************
 * Monospace Typeface.      *
 ****************************/
$monospacetype: (
    font-family: '"JetBrains Mono", monospace',
    regular: 400,
    bold: 700,
    italic: italic,
    cap-height: 0.70
) !default;
