/*****************************************************************************
 * Mystic Dev Website (mystic-dev.eu.org & mystic-devloper.github.io)        *
 *                                                                           *
 * A Personal Website made by Mystic Devloper (Surya).                       *
 *                                                                           *	
 * File: _poppins-light-italic.scss                                          *
 * Info: SCSS File for Light Italic Poppins Font Face.                       *
 *****************************************************************************/

/*****************************
 * Poppins Light Font (300). *
 *****************************/
@font-face {
    font-family: "Poppins";
    font-weight: 300;
    font-style: italic;
    font-display: swap;

    src: url("../../../assets/fonts/poppins/poppins-v23-latin-300italic.woff2") format("woff2");
}
