/*****************************************************************************
 * Mystic Dev Website (mystic-dev.eu.org & mystic-devloper.github.io)        *
 *                                                                           *
 * A Personal Website made by Mystic Devloper (Surya).                       *
 *                                                                           *
 * File: _poppins-black-italic.scss                                          *
 * Info: SCSS File for Black Italic Poppins Font Face.                       *
 *****************************************************************************/

/********************************
 * Poppins Black Italic Font (900).
 ********************************/
@font-face {
    font-family: "Poppins";
    font-weight: 900;
    font-style: italic;
    font-display: swap;

    src: url("../../../assets/fonts/poppins/poppins-v23-latin-900italic.woff2") format("woff2");
}

