/*****************************************************************************
 * Mystic Dev Website (mystic-dev.eu.org & mystic-devloper.github.io)        *
 *                                                                           *
 * A Personal Website made by Mystic Devloper (Surya).                       *
 *                                                                           *
 * File: _poppins-extra-bold-italic.scss                                     *
 * Info: SCSS File for Extra-Bold Italic Poppins Font Face.                  *
 *****************************************************************************/

/******************************************
 * Poppins Extra-Bold Italic Font (800). *
 ******************************************/
@font-face {
    font-family: "Poppins";
    font-weight: 800;
    font-style: italic;
    font-display: swap;

    src: url("../../../assets/fonts/poppins/poppins-v23-latin-800italic.woff2") format("woff2");
}

