// Content wrappers

@use 'flex' as *;

.site-wrapper {
    @include flexbox;
    @include flex-direction(column);
    min-height: 100vh;
}

.main-content-wrapper {
    @include flex-grow(1);
    padding: 1rem;
    max-width: 70ch;
    margin: 0 auto;
    width: 100%:
}

.section {
    padding: 2rem 0;

    @include breakpoint(break-1) {
        padding: 4rem 0;
    }

    @include breakpoint(break-2) {
        padding: 6rem 0;
    }
}
