/**
 * @file src/styles/variables/semantics/dark-theme.variables.css
 *
 * @description Variables file for dark theme.
 */

/**
 * Standard :-
 * Theme is properly WCAG AA Standard Compilant.
 * With, Primary texts (i.e., Heading, body and paragraph)
 * being WCAG AAA Standard Compilant.
 *
 * Aesthetics :-
 * Color palette is designed to maintain a nature derived theme.
 * This is same as light theme, which maintains lighter but similar vision.
 * This is because nature-derived themes are better for eye and reduce
 * eye strain in long-format blog-alike contents.
 *
 * License :-
 * This color palette along with all other peices of code (HTML, TS, TSX and CSS)
 * are published under MIT. For full license see /LICENSE.
 */

/**
 * Quick Note: Actual color variables are defined in primitves/color-palette.variables.css .
 */

/**
 * Variables: Dark Theme
 *
 * @description Variables for dark theme override.
 * Uses .dark class for theme override.
 */
:root.dark {
  /* Backgrounds */
  /* Background: jungle green (dark teal) */
  --color-background: var(--color-background-dark);
  /* Code background: dire wolf (dark gray) */
  --color-code-background: var(--color-code-background-dark);
  /* Feature background: pine green (dark teal) */
  --color-feature-background: var(--color-feature-background-dark);

  /* Theming */
  /* Accent: aqua */
  --color-accent: var(--color-accent-dark);
  /* Banner: muted cyan/teal */
  --color-banner: var(--color-banner-dark);

  /* Feedback/Status color */
  /* Success: soft seafoam green */
  --color-code-success: var(--color-code-success-dark);
  /* Warning: soft gold/mustard */
  --color-code-warning: var(--color-code-warning-dark);
  /* Error: soft coral red */
  --color-code-error: var(--color-code-error-dark);

  /* Shadow Color: dark void */
  --color-shadow-rgb: var(--color-shadow-rgb-dark);

  /* Texts */
  /* Heading: pale light blue-gray */
  --color-heading: var(--color-heading-dark);
  /* Body: light gray */
  --color-body: var(--color-body-dark);
  /* Paragraph: medium light gray */
  --color-paragraph: var(--color-paragraph-dark);
  /* Link: aqua */
  --color-link: var(--color-link-dark);
  /* Hover: aquamarine */
  --color-hover: var(--color-hover-dark);
  /* Focus: aqua */
  --color-focus: var(--color-focus-dark);
  /* Caption: medium gray */
  --color-caption: var(--color-caption-dark);
  /* Button text: subtle off white */
  --color-button-text: var(--color-button-text-dark);

  /* Code Styling */
  /* Comments: cool gray */
  --color-comment: var(--color-comment-dark);
  /* Punctuations: off white */
  --color-punctuations: var(--color-punctuations-dark);
  /* Tags: bright cyan */
  --color-tag: var(--color-tag-dark);
  /* Selectors: bright green */
  --color-selector: var(--color-selector-dark);
  /* Property: bright red */
  --color-property: var(--color-property-dark);
  /* Attribute: bright yellow */
  --color-attribute: var(--color-attribute-dark);
  /* Numeric/boolean values: bright purple */
  --color-numeric: var(--color-numeric-dark);
  /* String/char other related values: bright yellow */
  --color-string: var(--color-string-dark);
  /* Keywords: bright red */
  --color-keyword: var(--color-keyword-dark);
  /* Operator: bright yellow */
  --color-operator: var(--color-operator-dark);
  /* Function: bright aqua */
  --color-function: var(--color-function-dark);
  /* Classes/pre defs: light purple */
  --color-class: var(--color-class-dark);

  /* Line highlight: slight light dire wolf */
  --color-line-hightlight: var(--color-highlight-dark);
  /* Line number text and seperator: cool gray */
  --color-line-number: var(--color-line-number-dark);
  /* Toolbar background: muted cyan */
  --color-toolbar-background: var(--color-toolbar-background-dark);
  /* Language label: light gray */
  --color-language-label: var(--color-language-label-dark);
}
