/**
 * @file src/styles/variables/semantics/light-theme.variables.css
 *
 * @description Variables file for light theme.
 */

/**
 * Standard :-
 * Theme is properly WCAG AA Standard Compilant.
 * With, Primary texts (i.e., Heading, body and paragraph)
 * being WCAG AAA Standard Compilant.
 *
 * Aesthetics :-
 * Color palette is designed to maintain a nature derived theme.
 * This is same as dark theme, which maintains darker but similar vision.
 * This is because nature-derived themes are better for eye and reduce
 * eye strain in long-format blog-alike contents.
 *
 * License :-
 * This color palette along with all other peices of code (HTML, TS, TSX and CSS)
 * are published under MIT. For full license see /LICENSE.
 */

/**
 * Quick Note: Actual color variables are defined in primitves/color-palette.variables.css .
 */

/**
 * Variables: Light Theme
 *
 * @description Variables for default light theme.
 * Directly defines variables in :root.
 */
:root {
  /* Backgrounds */
  /* Background: off white greenish */
  --color-background: var(--color-background-light);
  /* Code background: light beige */
  --color-code-background: var(--color-code-background-light);
  /* Feature background: off white cyanish */
  --color-feature-background: var(--color-feature-background-light);

  /* Theming */
  /* Accent: deep teal */
  --color-accent: var(--color-accent-light);
  /* Banner: pale blue-green */
  --color-banner:  var(--color-banner-light);
  
  /* Feedback/Status color */
  /* Success: forest green */
  --color-code-success: var(--color-code-success-light);
  /* Warning: soft warm amber */
  --color-code-warning: var(--color-code-warning-light);
  /* Error: dark maroon */
  --color-code-error: var(--color-code-error-light);
  
  /* Shadow Color: soft charcoal */
  --color-shadow-rgb: var(--color-shadow-rgb-light);

  /* Texts */
  /* Heading: blueish gray */
  --color-heading: var(--color-heading-light);
  /* Body: dark charcoal */
  --color-body: var(--color-body-light);
  /* Paragraph: dark gray */
  --color-paragraph: var(--color-paragraph-light);
  /* Link: deep teal */
  --color-link: var(--color-link-light);
  /* Hover: aqua */
  --color-hover: var(--color-hover-light);
  /* Focus: deep teal */
  --color-focus: var(--color-focus-light);
  /* Caption: dim gray */
  --color-caption: var(--color-caption-light);
  /* Button text: dark charcoal */
  --color-button-text: var(--color-button-text-light);
  
  /* Code Styling */
  /* Comments: warm gray */
  --color-comment: var(--color-comment-light);
  /* Punctuations: brown gray */
  --color-punctuations: var(--color-punctuations-light);
  /* Tags: dark cyan */
  --color-tag: var(--color-tag-light);
  /* Selectors: dark green */
  --color-selector: var(--color-selector-light);
  /* Property: dark red */
  --color-property: var(--color-property-light);
  /* Attribute: dark yellow */
  --color-attribute: var(--color-attribute-light);
  /* Numeric/boolean values: dark purple */
  --color-numeric: var(--color-numeric-light);
  /* String/char other related values: dark yellow */
  --color-string: var(--color-string-light);
  /* Keywords: dark red */
  --color-keyword: var(--color-keyword-light);
  /* Operator: dark yellow */
  --color-operator: var(--color-operator-light);
  /* Function: dark aqua */
  --color-function: var(--color-function-light);
  /* Classes/pre defs: dark purple */
  --color-class: var(--color-class-light);

  /* Line highlight: slight dark beige */
  --color-line-highlight: var(--color-highlight-light);
  /* Line number text and seperator: warm gray */
  --color-line-number: var(--color-line-number-light);
  /* Toolbar background: blue-green */
  --color-toolbar-background: var(--color-toolbar-background-light);
  /* Language label: dark charcoal */
  --color-language-label: var(--color-language-label-light);
}
